
@{
    ViewData["Title"] = "CountryChartExport";
}
@model DTO.RejectionDashboard.CountryChartExport

<style>
    .table {
        empty-cells: show;
        border-style: 1px solid;
    }

    td {
        border-style: solid;
    }
</style>

<xls-sheet name="Country-Province Result">
    <table xls-begin="A:1" style="border-style:solid; empty-cells: show;">
        <tr>
            <td width="130px" style="font-weight:bold">Service Date From :</td>
            <td width="100px">@Model.RequestFilters?.ServiceDateFrom</td>

            <td width="120px" style="font-weight:bold">Service Date To :</td>
            <td width="100px">@Model.RequestFilters?.ServiceDateTo</td>

            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.CustomerName))
            {
                <td style="font-weight: bold">Customer :</td>
                <td width="100px">@Html.Raw(@Model.RequestFilters?.CustomerName)</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.SupplierName))
            {
                <td width="100px" style="font-weight: bold">Supplier :</td>
                <td width="100px">@Html.Raw(@Model.RequestFilters?.SupplierName)</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.FactoryCountry))
            {
                <td width="100px" style="font-weight: bold">Country :</td>
                <td width="100px">@Model.RequestFilters?.FactoryCountry</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.Brand))
            {
                <td width="100px" style="font-weight: bold">Brand :</td>
                <td width="100px">@Model.RequestFilters?.Brand</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.Department))
            {
                <td width="100px" style="font-weight: bold">Department :</td>
                <td width="100px">@Model.RequestFilters?.Department</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.Buyer))
            {
                <td width="100px" style="font-weight: bold">Buyer :</td>
                <td width="100px">@Model.RequestFilters?.Buyer</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.Collection))
            {
                <td width="100px" style="font-weight: bold">Collection :</td>
                <td width="100px">@Model.RequestFilters?.Collection</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.ProductCategory))
            {
                <td width="100px" style="font-weight: bold">Product Category :</td>
                <td width="100px">@Html.Raw(@Model.RequestFilters?.ProductCategory)</td>
            }
            @if (!string.IsNullOrEmpty(@Model.RequestFilters?.Product))
            {
                <td width="100px" style="font-weight: bold">Product :</td>
                <td width="100px">@Html.Raw(@Model.RequestFilters?.Product)</td>
            }
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr style="background-color:#f5f5f5;font-weight:bold;text-align:center">
            <th style="border-style:solid">Country</th>
            <th style="border-style:solid">Province</th>


            @foreach (var item in Model.ResultNames)
            {
                <th style="border-style:solid">@item</th>
            }

            <th style="border-style:solid; text-align:center">Total Count</th>
        </tr>

        @foreach (var item in Model.Data)
        {
        <tr>
            <td style="border-style:solid" width="200px">@Html.Raw(@item.CountryName)</td>
            <td style="border-style:solid" width="200px">@Html.Raw(@item.ProvinceName)</td>

            @foreach (var emptype in Model.ResultNames)
            {
                var dataper = item.Data.Where(x => x.ResultName == emptype).FirstOrDefault();
                if (dataper == null)
                {
                    <td width="100px" style="text-align:center; border-style:solid" xls-type="number"></td>
                }

                else
                {
                    <td width="100px" style="text-align:center; border-style:solid" xls-type="number">@dataper.TotalCount</td>
                }
            }

            <td width="100px" style="text-align:center; border-style:solid" xls-type="number">@item.Count</td>
        </tr>
        }
        <tr>
            @{var count = @Model.ResultNames.Count + 2;}
            <td style="font-weight:bold; border-style:solid; text-align:center" colspan=@count>Total</td>
            <td style="text-align:center; border-style:solid" xls-type="number">@Model.Total</td>
        </tr>
    </table>
</xls-sheet>





