
@{
    ViewData["Title"] = "CasinoTemplate";
}

@model DTO.Kpi.ExportResult

<xls-sheet name="Details">
    <table xls-begin="A:1" style="border-style:solid">
        <tr style="background-color:#f5f5f5;font-weight:bold;text-align:center">
            <th>Buyer</th>
            <th>insp date</th>
            <th style="text-align:center">InspectionID</th>
            <th style="text-align:center">Report no</th>
            <th>PO</th>
            <th>Supplier Name</th>
            <th>Factory Name</th>
            <th>Province</th>
            <th>Inspection Type</th>
            <th>ProductID</th>
            <th>ProductDescription</th>
            <th style="text-align:center">LotSize</thstyle="text-align:center">
            <th>Unit</th>
            <th>ProductSample</th>
            <th style="text-align:center">Grouping</th>
            <th style="text-align:center">combine with</th>
            <th style="text-align:center">Inspection Fee</th>
            <th style="text-align:center">ChargeableCost</th>
            <th style="text-align:center">Total Fee</th>
            <th>DepartmentName</th>
            <th>PriceCategory</th>
            <th>Inspection Result</th>
            <th>payee</th>
            <th>Customer Dept</th>
        </tr>
        @foreach (var item in Model.Data)
        {
        <tr>
            <td withd="250px">@Html.Raw(@item.BuyerName)</td>
            <td width="150px">@item.InspectionReportDate</td>
            <td width="150px" xls-type="number" style="text-align:center">@item.BookingNo</td>
            <td width="150px" xls-type="number" style="text-align:center">@item.BookingNo</td>
            <td width="250px">@Html.Raw(@item.PONumber)</td>
            <td width="250px">@Html.Raw(@item.SupplierName)</td>
            <td width="250px">@Html.Raw(@item.FactoryName)</td>
            <td width="250px">@Html.Raw(@item.FactoryState)</td>
            <td width="250px">@Html.Raw(@item.ServiceTypeName)</td>
            <td width="250px">@Html.Raw(@item.ProductName)</td>
            <td width="250px">@Html.Raw(@item.ProductDescription)</td>
            <td width="150px" style="text-align:center">@item.ShipmentQty</td>
            <td width="100px">@item.ProductUnitName</td>
            <td width="150px">@item.SampleSize</td>
            <td width="150px" style="text-align:center">@item.CombineProductQty</td>
            <td width="150px" style="text-align:center">@item.CombineId</td>
            <td width="150px" xls-type="number" style="text-align:center">@item.InspectionFee</td>
            <td width="150px" xls-type="number" style="text-align:center">@item.TravellingCost</td>
            <td width="150px" xls-type="number" style="text-align:center">@item.TotalInspectionFee</td>
            <td width="250px">@Html.Raw(@item.DeptCode)</td>
            <td width="250px">@item.PriceCategory</td>
            <td width="250px">@item.ReportResult</td>
            <td width="250px">@Html.Raw(@item.PaidBy)</td>
            <td width="250px">@Html.Raw(item.BrandName)</td>
        </tr>
        }
    </table>
</xls-sheet>



