
@{
    ViewData["Title"] = "InspResultSummaryTemplate";
}

@model DTO.Kpi.ExportResult


<xls-sheet name="Insp_Result_summary">
    <table xls-begin="A:1" style="border-style:solid">
        <tr style="background-color:#f5f5f5;font-weight:bold;text-align:center">
            <th>Insp. No.</th>
            <th>Customer Ref.</th>
            <th>Customer Name</th>
            <th>Buyer</th>
            <th>Department</th>
            <th>Customer Contact</th>
            <th>Collection</th>
            <th>Inspection Office</th>
            <th>Supplier</th>
            <th>Factory</th>
            <th>Country</th>
            <th>Province</th>
            <th>City</th>
            <th>Service Type</th>
            <th>Status</th>
            <th>Service Date From</th>
            <th>Service Date To</th>
            <th>Month</th>
            <th>Year</th>
            <th>Mandays</th>
            <th>Product Ref.</th>
            <th>ProductDescription</th>
            <th>Factory Ref.</th>
            <th>AQL</th>
            <th>Overall result</th>
            @*<th>A-Quantity</th>
        <th>B-Workmanship</th>
        <th>C-Product Specifications</th>
        <th>D-Packing</th>
        <th>E-Onsite Tests</th>
        <th>F-Other information</th>*@
            @foreach (var name in Model.ResultName)
            {
                <th>@Html.Raw(@name)</th>
            }
            <th>PO No</th>
            <th>Invoice No.</th>
            <th>Invoice Date</th>
            <th>Product Category</th>
            <th>Product Subcat 1</th>
            <th>Product Subcat 2</th>
            <th>Customer Decision</th>
            <th>Customer Decision Date</th>
        </tr>
        @foreach (var item in Model.Data)
        {
        <tr>
            <td width="150px" xls-type="number">@item.BookingNo</td>
            <td width="250px">@Html.Raw(@item.CustomerBookingNo)</td>
            <td width="250px">@Html.Raw(@item.CustomerName)</td>
            <td withd="250px">@Html.Raw(@item.BuyerName)</td>
            <td width="250px">@Html.Raw(@item.DeptCode)</td>
            <td width="250px">@Html.Raw(@item.CustomerContact)</td>
            <td width="250px">@Html.Raw(@item.CollectionName)</td>
            <td width="250px">@Html.Raw(@item.Office)</td>
            <td width="250px">@Html.Raw(@item.SupplierName)</td>
            <td width="250px">@Html.Raw(@item.FactoryName)</td>
            <td width="250px">@Html.Raw(@item.FactoryCountry)</td>
            <td width="250px">@Html.Raw(@item.FactoryState)</td>
            <td width="250px">@Html.Raw(@item.FactoryCity)</td>
            <td width="250px">@Html.Raw(@item.ServiceTypeName)</td>
            <td width="250px">@item.bookingStatus</td>
            <td width="250px">@item.InspectionStartDate</td>
            <td width="250px">@item.InspectionEndDate</td>
            <td xls-type="number">@item.Month</td>
            <td xls-type="number">@item.Year</td>
            <td width="250px" xls-type="number">@item.ManDay</td>
            <td width="250px">@Html.Raw(@item.ProductName)</td>
            <td width="250px">@Html.Raw(@item.ProductDescription)</td>
            <td width="250px">@Html.Raw(@item.FactoryRef)</td>
            <td>@item.AQLLevelName</td>
            <td width="250px">@item.ReportResult</td>
            @*<td width="250px">@item.ReportResultQuantity</td>
        <td width="250px">@item.ReportResultWorkmanship</td>
        <td width="150px">@item.ReportResultProductSpecifications</td>
        <td width="150px">@item.ReportResultPacking</td>
        <td width="150px">@item.ReportResultOnsiteTests</td>
        <td>@item.ReportResultOtherInformation</td>*@

            @foreach (var resultName in Model.ResultName)
            {
                var result = item.FbResult.Where(x => x.Name == resultName).Select(x => x.Result).FirstOrDefault();
                <td width="250px">@result </td>
            }

            <td width="250px">@Html.Raw(@item.PONumber)</td>
            <td width="250px">@Html.Raw(@item.InvoiceNumber)</td>
            <td width="250px">@item.InvoiceDate</td>
            <td width="250px">@Html.Raw(@item.ProductCategory)</td>
            <td width="250px">@Html.Raw(@item.ProductSubCategory)</td>
            <td width="250px">@Html.Raw(@item.ProductSubCategory2)</td>
            <td width="250px">@Html.Raw(@item.CusDecisionName)</td>
            <td width="250px">@Html.Raw(@item.CusDecisionDate)</td>
        </tr>
        }
    </table>
</xls-sheet>

