@model (DTO.User.UserCredentialsMailTemplate, string)
@{
    ViewData["Title"] = "User Credentials";
}

<style>
    .th-table {
        color: black;
        vertical-align: top;
        font-size: 13px;
        font-family: tahoma;
    }

    .td-table {
        font-size: 13px;
        font-family: tahoma;
    }

    .div-style {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
</style>

<table>
    <tr>
        <td style="font-size:13px; font-family:tahoma;">

            Dear All,
            <br /><br />
                  <div style="padding-bottom: 5px; margin-bottom:5px;">
                      Please find the user credentials for @Model.Item1.ContactName ( @Model.Item1.Name)
                  </div>
            <br />
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                <b>Url</b> : @Model.Item1.BaseUrl
            </div>
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                <b>Contact name</b> : @Model.Item1.ContactName
            </div>
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                <b>Username</b> : @Model.Item1.Username
            </div>
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                <b>Password</b> : @Model.Item1.Password
            </div>
            <br />
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                please change the password when user login first time.
            </div>
            
        </td>
    </tr>
    <tr>
        <td class="td-table">
            <br />
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                Thanks
            </div>
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                IT-Team
            </div>
        </td>
    </tr>
</table>