@model (DTO.Inspection.BookingMailRequest, string)
@using DTO.CommonClass;
<style>
    .th-table {
        color: black;
        vertical-align: top;
        font-size: 13px;
        font-family: tahoma;
    }

    .td-table {
        font-size: 13px;
        font-family: tahoma;
    }
</style>
<table>
    <tr>
        <td style="font-size:13px; font-family:tahoma;">
            Dear Sir / Madam,
            <br /><br />
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                Your Inspection booking (<b>INS</b> - @Model.Item1.BookingId) combine products have been @Model.Item1.StatusName.
            </div>
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                Following are the details for your reference:
            </div>
            <br />
            <table border="0">
                <tr>
                    <th class="th-table" align="left" width='24%'>
                        Customer:
                    </th>
                    <td class="td-table">
                        @Model.Item1.CustomerName
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.Item1.CustomerBookingNo))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Customer Booking No:
                        </th>
                        <td class="td-table">
                            @Model.Item1.CustomerBookingNo
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.Buyer))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Buyer:
                        </th>
                        <td class="td-table">
                            @Model.Item1.Buyer
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.ProductCategory))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Product Category:
                        </th>
                        <td class="td-table">
                            @Model.Item1.ProductCategory
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.Brand))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Brand:
                        </th>
                        <td class="td-table">
                            @Model.Item1.Brand
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.Department))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Department:
                        </th>
                        <td class="td-table">
                            @Model.Item1.Department
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.Season))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Season:
                        </th>
                        <td class="td-table">
                            @{ string seasonYear = !@String.IsNullOrEmpty(Model.Item1.SeasonYear) ? "/" + @Model.Item1.SeasonYear : "";}

                            @Model.Item1.Season@seasonYear
                        </td>
                    </tr>
                }
                @if (@Model.Item1.BookingType == (int)InspectionBookingTypeEnum.UnAnnounced)
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Booking Type:
                        </th>
                        <td class="td-table" style="color:red">
                            @Model.Item1.BookingTypeValue
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.ApplyDate))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Apply Date (DD/MM/YYYY):
                        </th>
                        <td class="td-table">
                            @Model.Item1.ApplyDate
                        </td>
                    </tr>
                }
                @if (!String.IsNullOrEmpty(@Model.Item1.ShipmentDate))
                {
                    <tr>
                        <th class="th-table" align="left" width='24%'>
                            Shipment Date (DD/MM/YYYY):
                        </th>
                        <td class="td-table">
                            @Model.Item1.ShipmentDate
                        </td>
                    </tr>
                }
                <tr>
                    <th class="th-table" align="left" width='24%'>
                        <br />
                        Supplier:
                    </th>
                    <td class="td-table">
                        <br />
                        <span>@Model.Item1.SupplierName</span>
                        <br />
                        @if (!String.IsNullOrEmpty(@Model.Item1.SupplierAddress))
                        {
                            @Model.Item1.SupplierAddress
                            <br />
                        }
                        @if (!String.IsNullOrEmpty(@Model.Item1.SupplierPhone) && !String.IsNullOrEmpty(@Model.Item1.SupplierMail))
                        {
                            @Model.Item1.SupplierPhone<span> / </span>@Model.Item1.SupplierMail
                            <br />
                        }
                        else if (!String.IsNullOrEmpty(@Model.Item1.SupplierPhone))
                        {
                            @Model.Item1.SupplierPhone
                            <br />
                        }
                        else if (!String.IsNullOrEmpty(@Model.Item1.SupplierMail))
                        {
                            @Model.Item1.SupplierMail
                            <br />
                        }
                    </td>
                </tr>
                <tr>
                    <th class="th-table" align="left" width='24%'>
                        <br />
                        Factory:
                    </th>
                    <td class="td-table">
                        <br />
                        <span>@Model.Item1.FactoryName</span>
                        <br />
                        @if (!String.IsNullOrEmpty(@Model.Item1.FactoryAddress))
                        {
                            @Model.Item1.FactoryAddress
                            <br />
                        }
                        @if (@Model.Item1.IsChinaCountry)
                        {
                            @if (!String.IsNullOrEmpty(@Model.Item1.FactoryRegionalAddress))
                            {
                                @Model.Item1.FactoryRegionalAddress
                                <br />
                            }
                        }
                        @if (!String.IsNullOrEmpty(@Model.Item1.FactoryPhone) && !String.IsNullOrEmpty(@Model.Item1.FactoryMail))
                        {
                            @Model.Item1.FactoryPhone<span> / </span>@Model.Item1.FactoryMail
                            <br />
                        }
                        else if (!String.IsNullOrEmpty(@Model.Item1.FactoryPhone))
                        {
                            @Model.Item1.FactoryPhone
                            <br />
                        }
                        else if (!String.IsNullOrEmpty(@Model.Item1.FactoryMail))
                        {
                            @Model.Item1.FactoryMail
                            <br />
                        }
                    </td>
                </tr>
                <tr>
                    <th class="th-table" align="left" width='24%'>
                        <br />
                        Service Type:
                    </th>
                    <td class="td-table">
                        <br />
                        @Model.Item1.ServiceType
                        @if (!string.IsNullOrWhiteSpace(@Model.Item1.ReInspectionTypeName))
                        {
                            <span> (</span>
                            @Model.Item1.ReInspectionTypeName
                            <span>)</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="th-table" align="left" width='24%'>
                        Service Date (DD/MM/YYYY):
                    </th>
                    <td class="td-table">
                        @if (@Model.Item1.ServiceDateFrom == @Model.Item1.ServiceDateTo)
                        {
                            @Model.Item1.ServiceDateTo
                        }
                        else
                        {
                            @Model.Item1.ServiceDateFrom <label> To </label>@Model.Item1.ServiceDateTo
                        }
                    </td>
                </tr>

            </table>
            <br />
            <table id='TblList' style="border:solid 1px #d4d0c8;border-collapse:collapse;font-size:12px; font-family:tahoma;" cellspacing='0' cellpadding='1' rules='all' align='left' border='1' cellspacing=0 cellpadding=0 width='100%'>
                <tr>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='15%' height=35>PO NO</th>

                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='20%' height=35>Product Reference</th>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='35%' height=35>Product Ref. Description</th>


                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='35%' height=35>Product Name</th>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='20%' height=35>Booking qty</th>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='20%' height=35>AQL Level</th>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='20%' height=35>Sampling qty</th>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='20%' height=35>Combine AQL qty</th>
                    <th bgcolor=#f8f4f3 style="color: black; font-size:13px;" align=center width='20%' height=35>Picking qty</th>
                </tr>
                @foreach (var poItem in @Model.Item1.InspectionPoList)
                {
                    <tr>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.PoNo
                        </td>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.ProductId
                        </td>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.ProductDesc
                        </td>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.SubCategory2
                        </td>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.BookingQty (pcs)
                        </td>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.AqlLevel
                        </td>
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.SampleQty
                        </td>
                        @if (poItem.CombineProductId == null)
                        {
                            <td align=center style="font-size: 12px;" height=30></td>

                        }
                        else
                        {
                            @if (poItem.IsParentProduct)
                            {
                                <td align=center style="font-size: 12px;" height=30 rowspan=@poItem.CombineProductCount>
                                    @poItem.CombineAqlQty
                                </td>
                            }
                        }
                        <td align=center style="font-size: 12px;" height=30>
                            @poItem.PickingQty
                        </td>
                    </tr>
                }

            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size:13px; font-family:tahoma;">
            <br />
            <div style="padding-bottom: 5px;margin-bottom:5px;">
                Please login our <a href="@Model.Item2">Link</a> to view the updated status & details.
            </div>
            @if (@Model.Item1.ApiUserMail != "")
            {
                <div style="padding-bottom: 5px;margin-bottom:5px;">
                    If any question, please address to @Model.Item1.ApiUserMail
                </div>
            }
        </td>
    </tr>
    <tr>
        <td class="td-table">
            <br />
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                Thanks
            </div>
            <div style="padding-bottom: 5px; margin-bottom:5px;">
                @Model.Item1.EntityName IT-Team
            </div>
            <br />
            @if (@Model.Item1.StatusId != 1) // other than requested status
            {
                <span style="font-style:normal"> Note: - This receipt is auto generated from Link Booking System. Please do not reply to @Model.Item1.SenderEmail.</span>
            }
            @if (@Model.Item1.StatusId == 1) // only on requested status
            {
                <span style="font-style:normal">
                    This receipt is auto generated by @Model.Item1.SenderEmail from Link. Please do not reply to this email address.
                </span>

                <span style="font-style:normal">
                    This is to inform you that your booking well received with thanks! @Model.Item1.EntityName team will confirm inspection schedule to you by further email shortly.
                </span>

                <span style="font-style:normal">
                    In case of modification, postponement or cancellation of an inspection date, pls inform @Model.Item1.EntityName local office before 3:00pm with 24 working hours prior to the confirmed inspection date (excluding regular rest days and public holidays), surcharges affecting resources deployment will be applied if any non-compliance, thanks for your attention!
                </span>
                <br />
                @if (@Model.Item1.IsChinaCountry)
                {
                    <span style="font-style:normal">
                        此类Booking Requested抬头的邮件谨通知您：您的检验申请已收悉，我们将尽快回复验货日期。
                        如有任何信息修改或改期，请在这个邮件基础上 需提前=间隔1个工作日（休息日和法定假日除外）的下午3点前发邮件通知 @Model.Item1.EntityName 。
                        如不足通知期，需申请人承担由此产生的人力损失费用。谢谢支持与合作！
                    </span>
                }
            }
        </td>
    </tr>
</table>
