
@{
    ViewData["Title"] = "CustomerProducts";
}


@model IEnumerable<DTO.CustomerProducts.CustomerProductExportData>

<xls-sheet name="Customer Products">
    <table xls-begin="A:1" style="border-style:solid">
        <tr style="background-color:#f5f5f5;font-weight:bold;text-align:center">
            <th>Customer</th>
            <th>Product ID</th>
            <th>Product Description</th>
            <th>Product Category</th>
            <th>Product Sub Category (Sub Category 1)</th>
            <th>Product Name (Sub Category 2)</th>
            <th>Product Details (Sub Category 3)</th>
            <th>Barcode</th>
            <th>Factory Reference</th>
            <th>New Product</th>
            <th>Remarks</th>
            <th>Sample Size 8h</th>
            <th>Preparation time</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td height="200px" width="250px">@item.CustomerName</td>
        <td height="200px" width="250px">@item.ProductId</td>
        <td width="150px">@item.ProductDescription</td>
        <td width="250px">@item.ProductCategory</td>
        <td width="100px">@item.ProductSubCategory</td>
        <td width="150px">@item.ProductCategorySub2</td>
        <td width="150px">@item.ProductCategorySub3</td>
        <td width="100px">@item.Barcode</td>
        <td width="150px">@item.FactoryReference</td>
        <td width="100px">@item.IsNewProduct</td>
        <td width="250px">@item.Remarks</td>
        <td width="250px">@item.SampleSize8h</td>
        <td width="250px">@item.TimePreparation</td>
    </tr>
        }
    </table>
</xls-sheet>
