
@{
    ViewData["Title"] = "ExpenseSummary";
}

@model LINK_UI.FileModels.ExpenseSummaryModel


<xls-sheet name="Expense Summary">
    <table xls-begin="A:1" style="border-style:solid">
        <tr style="background-color:#f5f5f5;font-weight:bold"> 
            <th>Date Type</th>
            <th>From date</th>
            <th>To date</th>
            <th>Locations</th>
            <th>Employees</th>
            <th>Statuses</th>
        </tr>
        <tr style="background-color:#f5f5f5;font-weight:bold">
            <td>@Model.DateType</td>
            <td>@Model.StartDate</td>
            <td>@Model.EndDate</td>
            <td>@Model.LocationName</td>
            <td>@Model.Employes</td>
            <td>@(Model.StatusList == null ? "" : string.Join(",", Model.StatusList.Select(x => x.Label)))</td>
        </tr>
    </table>
    <table xls-begin="A:5" style="border-style:solid">
        <tr style="background-color:#f5f5f5;font-weight:bold;text-align:center">
            <th>Claim No.</th>
            <th>Employee</th>
            <th>Employee Type</th>
            <th>OutSource Company</th>
            <th>Expense Amt.</th>
            <th>Food Allowance</th>
            <th>Tot.Amt.</th>
            <th>Payroll Currency</th>
            <th>Office</th>
            <th>Payroll Company</th>
            <th>Exp. Status</th>
            <th>Claim Type</th>
            <th>Created Date</th>
            <th>Remarks</th>
            <th>Auto Expense</th>
        </tr>
        @foreach (var item in Model.Items)
        {
    <tr>
        <td width="150px">@item.ClaimNo</td>
        <td width="150px">@item.Name</td>
        <td width="150px">@item.EmployeeType</td>
        <td width="150px">@item.OutSourceCompanyName</td>
        <td width="150px">@item.ExpenseAmout</td>
        <td width="150px">@item.FoodAllowance</td>
        <td width="150px">@item.TotalAmount</td>
        <td width="150px">@item.CurrencyName</td>
        <td width="150px">@item.OfficeName</td>
        <td width="150px">@item.PayrollCompanyName</td>
        <td width="150px">@item.Status</td>
        <td width="150px">@item.ClaimType</td>
        <td width="150px">@item.CreatedOn</td>
        <td width="150px">@Html.Raw(@item.ExpensePuropose)</td>
        <td width="150px">@item.AutoExpense</td>
    </tr>
        }
    </table>
</xls-sheet>

					 				
