
@{
    ViewData["Title"] = "InternalReportSummary";
}

@model IEnumerable<DTO.Report.InternalFBReportItem>

<style>
    #table {
        border-style: solid;
    }

    #th-table {
        background-color: #f5f5f5;
        font-weight: bold;
        text-align: center;
    }
</style>

<xls-sheet name="Internal Report Summary">
    <table xls-begin="A:1" style="border-style: solid">
        <tr style="background-color: #f5f5f5;font-weight: bold;text-align: center;">
            <th>Booking No</th>
            <th>Customer</th>
            <th>customer Booking No</th>
            <th>Supplier</th>
            <th>Factory</th>
            <th>Service Date From</th>
            <th>Service Date To</th>
            <th>Service Type</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            var count = @item.ReportProducts.Count() + 2;
            var x = count - 1;

            <tr>
                <td width="150px" style="text-align:center" rowspan=@count>@item.BookingId</td>
                <td width="250px">@item.CustomerName</td>
                <td width="150px">@item.CustomerBookingNo</td>
                <td width="100px">@item.SupplierName</td>
                <td width="150px">@item.FactoryName</td>
                <td width="150px">@item.ServiceDateFrom</td>
                <td width="150px">@item.ServiceDateTo</td>
                <td width="150px">@item.ServiceType</td>
            </tr>
            <tr style="background-color: #f5f5f5;font-weight: bold;text-align: center;">
                <td style="background-color:#FFFFFF" rowspan=@x></td>
                <td>Product Id</td>
                <td>PONumber</td>
                <td>Product Description</td>
                <td>Product Category</td>
                <td>Quantity</td>
                <td>Container Name</td>
                <td>Inspected Quantity</td>
                <td>Report No</td>
                <td>Filling Status</td>
                <td>Review Status</td>
                <td>Report Status</td>
                <td>Result</td>
            </tr>
            @foreach (var product in item.ReportProducts)
            {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.PONumber</td>
                <td>@product.ProductDescription</td>
                <td>@product.ProductCategoryName</td>
                <td>@product.ProductQuantity</td>
                <td>@product.ContainerName</td>
                <td>@product.InspectedQuantity</td>
                <td>@product.ReportTitle</td>
                <td>@product.FillingStatus</td>
                <td>@product.ReviewStatus</td>
                <td>@product.ReportStatus</td>
                <td>@product.Result</td>
            </tr>
            }
        }
    </table>
</xls-sheet>
